body{
    background-color: #52D9D8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.125 rem;
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: green;
}
table{
    border-collapse: collapse;
    width: 100 %;
}
a{
    text-decoration: none;
}
.botao{
    display: inline-block;
    padding: 10 px 20 px:
backgrond-color: green;
text-decoration: none;
border-radius: 5 px;
font-size: 1 rem ;
